@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Chats" asp-action="AllChats">To add chats</a><br />
    <a asp-controller="Chats" asp-action="TestingChat">To testChats</a><br />
    <a asp-controller="Admin" asp-action="MainAdminMenu">To admin menu</a><br />
    <a asp-controller="account" asp-action="Logout">Logout</a>
</div>
