@{
    Layout = "~/Views/Shared/_ChatsLayout.cshtml";
}

@inject Corporate_app.Models.Context.ModelsContext context

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>All chats</title>
</head>
<body>
    <h1>testing chat for all chats</h1>
    <h1>@ViewBag.Chat</h1>
</body>
</html>
